
/* situation 1 */
@media screen and (max-width:950px)
{

    /*Bloc 1 = Fiche*/
    #fiche{
        background-color: black;
        border-radius: 10px;
        width: 680px;
        height: 555px;
    }
    #portrait{
        width: 400px;
        height: 330px;
        background: linear-gradient(to top,green,black);
        border: 1px ridge greenyellow;
        border-radius: 10px;
        margin-left: 20px;
        margin-top:10px;
        position: absolute;

    }
    
      #portrait:hover{
        box-shadow: 0px 0px 10px 5px lightgreen;
    }

    
    #witch{
        width: 300px;
        height: 300px;
        margin-left: 12%;
        animation: anim 20s infinite;
    }
    @keyframes anim{
        0%{transform : rotate3d(0,1,0,0deg)}
        50%{transform : rotate3d(0,1,0,180deg)}
        100%{transform : rotate3d(0,1,0,0deg)}
    }



    #titrePhoto{
        text-align: center;
        color: yellow;
        font-style:italic;
        font-weight:bold;
    }

    #attaque{
        width: 220px;
        height: 250px;
        background: linear-gradient(to top,#d95401 ,white);
        border: 1px ridge red;
        border-radius: 2px;
        margin-left: 430px;
        margin-top: 100px;
        position: absolute;

    }
    #attaque:hover{
        box-shadow: 0px 0px 10px 5px orange;
    }

    #titreAttaque{
        color: darkred;
        font-style:italic;
        font-weight:bold;
    }

    #defense{
        width: 220px;
        height: 92px;
        background: linear-gradient(to top,blue ,white);
        border: 1px ridge lightskyblue;
        border-radius: 2px;
        margin-left: 430px;
        margin-top: 380px;
        position: absolute;

    }
    #defense:hover{
        box-shadow: 0px 0px 10px 5px blue;
    }
    #titreDefense{
        color: darkblue;
        font-style:italic;
        font-weight:bold;
    }

    #stats{
        width: 400px;
        height: 150px;
        background: linear-gradient(to top,violet ,pink);
        border: 1px ridge violet;
        border-radius: 2px;
        margin-left: 20px;
        margin-top: 380px;
        position: absolute;
    }

    #stats:hover{
        box-shadow: 0px 0px 10px 5px pink;
    }

    #titreStats{
        color: darkviolet;
        font-style:italic;
        font-weight:bold;
    }
    #listedroite{
        margin-left: 175px;
        margin-top: -75px;
    }
    ol{
        font-size: small;
    }




}
/* situation 2 */
@media screen and (max-width:690px){

    #fiche{
        background-color: black;
        border-radius: 10px;
        width: 320px;
        height: 655px;
    }
    #portrait{
        width: 300px;
        height: 230px;
        background: linear-gradient(to top,green,black);
        border: 1px ridge greenyellow;
        border-radius: 10px;
        margin-left: 10px;
        margin-top:10px;
        position: absolute;

    }
    
      #portrait:hover{
        box-shadow: 0px 0px 10px 5px lightgreen;
    }

    
    #witch{
        width: 200px;
        height: 200px;
        margin-left: 12%;
        animation: anim 20s infinite;
    }
    @keyframes anim{
        0%{transform : rotate3d(0,1,0,0deg)}
        50%{transform : rotate3d(0,1,0,180deg)}
        100%{transform : rotate3d(0,1,0,0deg)}
    }



    #titrePhoto{
        text-align: center;
        color: yellow;
        font-style:italic;
        font-weight:bold;
    }

    #attaque{
        width: 300px;
        height: 180px;
        background: linear-gradient(to top,#d95401 ,white);
        border: 1px ridge red;
        border-radius: 2px;
        margin-left: 10px;
        margin-top: 250px;
        position: absolute;

    }
    #attaque:hover{
        box-shadow: 0px 0px 10px 5px orange;
    }

    #titreAttaque{
        color: darkred;
        font-style:italic;
        font-weight:bold;
    }

    #defense{
        width: 300px;
        height: 80px;
        background: linear-gradient(to top,blue ,white);
        border: 1px ridge lightskyblue;
        border-radius: 2px;
        margin-left: 10px;
        margin-top: 440px;
        position: absolute;

    }
    #defense:hover{
        box-shadow: 0px 0px 10px 5px blue;
    }
    #titreDefense{
        color: darkblue;
        font-style:italic;
        font-weight:bold;
    }

    #stats{
        width: 300px;
        height: 110px;
        background: linear-gradient(to top,violet ,pink);
        border: 1px ridge violet;
        border-radius: 2px;
        margin-left: 10px;
        margin-top: 530px;
        position: absolute;
    }

    #stats:hover{
        box-shadow: 0px 0px 10px 5px pink;
    }

    #titreStats{
        color: darkviolet;
        font-style:italic;
        font-weight:bold;
    }
    #listedroite{
        margin-left: 165px;
        margin-top: -100px;
    }
    ol{
        font-size: small;
        margin-top: -2px;
    }




}
/* situation 3 */
@media screen and (min-width:950px)
{
 /*Bloc 1 = Fiche*/
    #fiche{
        background-color: black;
        border-radius: 10px;
        width: 930px;
        height: 620px;
    }
    #portrait{
        width: 512px;
        height: 430px;
        background: linear-gradient(to top,green,black);
        border: 1px ridge greenyellow;
        border-radius: 10px;
        margin-left: 20px;
        margin-top:10px;
        position: absolute;

    }
    
      #portrait:hover{
        box-shadow: 0px 0px 10px 5px lightgreen;
    }

    
    #witch{
        width: 400px;
        height: 400px;
        margin-left: 12%;
        animation: anim 20s infinite;
    }
    @keyframes anim{
        0%{transform : rotate3d(0,1,0,0deg)}
        50%{transform : rotate3d(0,1,0,180deg)}
        100%{transform : rotate3d(0,1,0,0deg)}
    }



    #titrePhoto{
        text-align: center;
        color: yellow;
        font-style:italic;
        font-weight:bold;
    }

    #attaque{
        width: 300px;
        height: 250px;
        background: linear-gradient(to top,#d95401 ,white);
        border: 1px ridge red;
        border-radius: 2px;
        margin-left: 550px;
        margin-top: 100px;
        position: absolute;

    }
    #attaque:hover{
        box-shadow: 0px 0px 10px 5px orange;
    }

    #titreAttaque{
        color: darkred;
        font-style:italic;
        font-weight:bold;
    }

    #defense{
        width: 300px;
        height: 92px;
        background: linear-gradient(to top,blue ,white);
        border: 1px ridge lightskyblue;
        border-radius: 2px;
        margin-left: 550px;
        margin-top: 380px;
        position: absolute;

    }
    #defense:hover{
        box-shadow: 0px 0px 10px 5px blue;
    }
    #titreDefense{
        color: darkblue;
        font-style:italic;
        font-weight:bold;
    }

    #stats{
        width: 450px;
        height: 150px;
        background: linear-gradient(to top,violet ,pink);
        border: 1px ridge violet;
        border-radius: 2px;
        margin-left: 20px;
        margin-top: 450px;
        position: absolute;
    }

    #stats:hover{
        box-shadow: 0px 0px 10px 5px pink;
    }

    #titreStats{
        color: darkviolet;
        font-style:italic;
        font-weight:bold;
    }
    #listedroite{
        margin-left: 175px;
        margin-top: -75px;
    }
    ol{
        font-size: small;
    }




}



